@font-face {
    font-family: 'JetBrainsMono';
    src: url(fonts/JetBrainsMonoNerdFont-Bold.ttf);
}

* {
    font-family: 'JetBrainsMono';
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #000101;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}   
.header .logo img{
    width: auto;
    height: 50px;
}


.header .menu .ul-principal .li-items {
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
}
.header .menu .ul-principal .li-items .ul-subcategoria{
    display: none;
    position: absolute;

}

.header .menu .ul-principal .li-items:hover > .ul-subcategoria{
    display: block;
    background-color: brown;
}
.header .menu .ul-principal .li-items .ul-subcategoria li{
    position: relative;
}

.header .menu .ul-principal .li-items .link-items {
    color: #ee3ec9;
}



.header .menu .ul-principal .li-items .link-items:hover,
.header .menu .ul-principal .li-items .ul-subcategoria li a:hover{
    color: #edcc0f;
}

.header .menu .ul-principal .li-items .boton-items {
    border: none;
    background-color: #f0f8ff00;
}


/*imagen del fondo*/
.imagen-fondo{
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    z-index: -100;
}
.imagen-fondo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);

}

/*imagenes y tabla*/

.contenedor {
    display: flex;
    position: relative;
    
    border: 2px red solid
    
}

td img {
    width: 100%;
    height: auto;
}

table {
    width: 80%;
    height: auto;

    border: 2px blue solid;
}

